<template>
    <div>
        <div class="hero hero-has-background" style="--background: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_165539543_2000137420009280352_323341.jpg); --overlay: #000a; margin-bottom: 40px">
                <h1 style="font-size: 120px;" >We Invest $500.000 every year</h1>
                <p style="font-size:60px; margin: 20px 0;">to the Bravest Founder on Planet</p>
        </div>
        <div class="hero row no-gutters">
  <div class="col-md-6 hero">
    <h2 style="font-size:60px" >Believe in Vision</h2>
    <p style="font-size:25px" >We believe that founders will bring impact through the vision</p>
  </div>
  <div class="col-md-6 hero hero-has-background" style="--background: url(https://media.licdn.com/dms/image/C4D22AQE0Nbd2qmmFEQ/feedshare-shrink_800/0/1671559423875?e=2147483647&v=beta&t=MHn0sC-zZvBNtCydVTv1AWeNQ99xhhXKosALnHNmDDI); --overlay: linear-gradient(#4108, #410); width: 432px;"></div>
</div>
<div class="hero row flex-md-row-reverse no-gutters">
  <div class="col-md-6 hero">
    <h2 style="font-size:60px" >Longterm Mindset</h2>
    <p style="font-size:25px" >There is no success in overnight. Every successful things take times</p>
  </div>
  <div class="col-md-6 hero hero-has-background" style="--background: url(https://www.ycombinator.com/packs/static/ycdc/about/img-office-hours-23c633bd985bc6fc42d6.png); --overlay: linear-gradient(#4108, #410); width: 432px;"></div>
</div>

<div>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 0px 0px 2px #000; margin: 50px auto; width: 800px;"
    true
    indicators
    img-width="800"
    img-height="480"
  >
    <b-carousel-slide
      caption="LEARNER"
      img-src="https://cms.dailysocial.id/wp-content/uploads/2019/10/1f751c85ede316ff4b30f3be47132847_Mark-Zuckerburg-saat-memberikan-keynote-di-sesi-makan-malam-peserta-Y-Combinator-Y-Combinator.jpg"
    ></b-carousel-slide>
    <b-carousel-slide
      caption="BELIEVER"
      img-src="https://front.com/assets/_540xAUTO_crop_center-center_none/yc2__1573852631_99.149.250.124.jpg"
    ></b-carousel-slide>
    <b-carousel-slide
      caption="COLLABORATION"
      img-src="https://www.ycombinator.com/assets/ycdc/slideshow/4-e0b15811cbbccf4063a67fdda3ef98a82892262ca483411184d63a8a1362e9f3.jpg"
    ></b-carousel-slide>
  </b-carousel>
</div>


    </div>
</template>

<script>
    export default {
        name:"bodyComponent"
    }
</script>

<style lang="scss" scoped>
.hero {
  &:not(.no-gutters) {
    padding: 3rem 1rem;    
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--overlay);
  &.hero-has-background {
    color: white;    
    min-height: 24rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: var(--background) center/cover;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: -1;
      pointer-events: none;
    }
  }
  &.row {
    flex-direction: row;
  }
}
</style>