<template>

<form @submit.prevent="handleClick" >

 
    <label >name</label>
    <input type="text" v-model="form.name" >

    <label >address</label>
    <input type="text" v-model="form.address" >

    <label >company</label>
    <input type="text" v-model="form.company" >

    <div class="submit">
        <button>Submit</button>
    </div>
</form>

</template>


<script>
    import axios from 'axios';

    export default {
      name:"formComponent",
        data(){
            return{
                form:{
                    name:'',
                    address:'',
                    company:'',
                }
            }
        },

        methods:{
            handleClick(){
                console.log(this.form)
                axios.post('/api/dataku/store', this.form  ).then((res) => {
                     //Perform Success Action
                     console.log(res);
                     this.$router.push('/');
                     alert("You success submit Data")
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log(error);
                 })
                ;
            }
        }

    }

</script>


<style>
    form {
    max-width: 420px;
    margin: 30px auto;
    background: white;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
  }
  label {
    color: #aaa;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input, select {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
  }
  button {
    background: #0b6dff;
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
  }
  .submit {
    text-align: center;
  }
</style>

