<template>
    <div>
  <b-nav tabs align="center">
    <b-nav-item :to="{ path: '/' }">Home</b-nav-item>
    <b-nav-item :to="{ path: '/portfolio' }" >Portfolio</b-nav-item>
    <b-nav-item :to="{ path: '/form' }" >Apply</b-nav-item>
    <b-nav-item :to="{ path: '/table' }" >Dashboard</b-nav-item>

  

  </b-nav>
</div>
</template>

<script>
export default{
    name: "navbarComponent",
}

</script>

<style>
</style>