<template>
    <div class="container">
        <h1>OUR PORTFOLIO COMPANIES</h1>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Stripe_Logo%2C_revised_2016.svg/2560px-Stripe_Logo%2C_revised_2016.svg.png" alt="">
            </div>
            <div class="col-3">
                <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://www.xendit.co/wp-content/uploads/2020/03/XENDIT-LOGOArtboard-1@2x.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://1.bp.blogspot.com/-6S6jOplGrVM/XzemyBUmWAI/AAAAAAAAPek/3qTqrfpDOooc8X30KPI8bvsE0qmXRzTTgCLcBGAsYHQ/s640/Grab%2BLogo%2B-%2BFree%2BVector%2BDownload%2BPNG.webp" alt="">

            </div>

            <div class="col-3">
                <img src="https://1000logos.net/wp-content/uploads/2020/11/Gojek-Logo.png" alt="">
            </div>
            <div class="col-3">
                <img src="https://download.logo.wine/logo/Uber/Uber-Logo.wine.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://logos-world.net/wp-content/uploads/2022/01/Instacart-Symbol.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://storage.googleapis.com/opensea-static/Logomark/Logomark-Blue.png" alt="">

            </div>

            <div class="col-3">
                <img src="https://assets.stickpng.com/images/6298e9eef0502af1ce8d8a1d.png" alt="">
            </div>
            <div class="col-3">
                <img src="https://files.readme.io/4087db7-5f1750e39c67ad3dd7c69015_logo_scale.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://mandiri-investasi.co.id/wp-content/uploads/2021/11/ajaib-PNG.png" alt="">

            </div>
            <div class="col-3">
                <img src="https://www.theriver.asia/wp-content/uploads/2020/01/pngkey.com-airbnb-logo-png-605967.png" alt="">

            </div>

        </div>
    </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
body{
    padding: 5em;
}

h1{
    text-align: center;
}



.merah{
    background-color: brown;
}

.biru{
    background-color: aquamarine;
}

img{
    /* width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 15px; */

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
    height: 120px;
    margin-top: 50px;
}  
</style>