<template>

    <div class="container">
        
    
          

    <table>
        
        <tr>

            

            <th>#</th>  
            <th>name</th>
            <th>address</th>
            <th>company</th>
        </tr>

        <tr v-for='(datana,key) in dataku'>
            <td>{{ key +1 }}</td>
            <td>{{ datana.name }}</td>
            <td> {{ datana.address }}</td>
            <td> {{ datana.company }}</td>
            <td>
                <button     @click="handlingDelete(datana.id) ">delete</button>
                <button><router-link class="btn  btn-sm" :to="{ name: 'update', params: { id: datana.id }}">Edit</router-link></button>
            </td>      
        </tr>

    </table>

    
</div>


</template>

<script>

import axios from 'axios';
export default{
    props: ['id'],
    data(){
        return{
            dataku:{}
        }
    },
    mounted() {
            this.getDataku();
        },
    methods: {
        getDataku(){
            axios.get('http://127.0.0.1:8000/api/dataku').then(response => {
                this.dataku = response.data.data;
                console.log(response.data.data);
            }).catch(error=>{
                console.log(error)
            })
            },
            // handlingDelete(id){
            //     this.axios.delete('http://127.0.0.1:8000/api/dataku/${id}').then(response=> 
            //          {
            //             let i = this.dataku.map(data => datana.id).indexOf(id);
            //             this.dataku.splice(i, 1)
            //         });
            //     },

                //  handlingDelete(id){
                // axios.delete('/api/dataku/' +id).then(response=> 
                //      { this.getDataku();
                //         let i = this.dataku.map(data => datana.id).indexOf(id);
                //         this.dataku.splice( 1)
                //         console.log(response);
                //     });  
                // },

//                 handlingDelete(id) {
//   axios.delete('http://127.0.0.1:8000/api/dataku/${id}')
//     .then(() => {
//       const dataId = this.dataku.indexOf(id)
//       this.dataku.splice(dataId, 1)
//     });

async handlingDelete(id, key){
    try{
        await axios.delete('/api/dataku/' +id).then(
            (response) => {
                this.dataku = response.data.data;
                console.log(response.data.data);
                this.dataku.splice(key, 1);
                // this.$router.push('/api/dataku/')
            }
        )
    }catch(error){
        console.log(error.message);
    }
}
// }
            }
        }
    


    

</script>


<style>

</style>