<template>

    <form  >


        


        <label >name</label>
        <input type="text" v-model="form.name" >
    
        <label >address</label>
        <input type="text" v-model="form.address" >
    
        <label >company</label>
        <input type="text" v-model="form.company" >
    
        <div class="submit">
            <button @submit.prevent="handleUpdate()" >Submit</button>
        </div>
    </form>
    
    </template>

<script>
    import axios from 'axios';

    export default {
        data(){
            return{
                form:{
                    name:'',
                    address:'',
                    company:'',
                }
            }
        },

        methods:{
            handleUpdate(){
                console.log(this.form)
                axios.put('/api/dataku/update/'  +this.id  ,  this.form  ).then((res) => {
                     //Perform Success Action
                     console.log(res);
                 })
                 .catch((error) => {
                     // error.response.status Check status code
                     console.log(error);
                 })
                ;
            }
        }

    }

</script>