<template>
    <div class="App" >
    <navbarComponent/> 
    
    <router-view></router-view>
    

    <footerComponent/>
    

    </div>
    
    
</template>

<script>

import navComponent from "../js/components/nav.vue"
import formComponent from "../js/components/formComponent.vue"
import footerComponent from '../js/components/footer.vue';

    export default {
        name: "App",
        components:{
            navComponent, formComponent, footerComponent,
        },
    }

</script>

<style>

</style>